<ng-container *ngIf="isLoading === true; then loadingTemplate; else toDoListTemplate" />
<ng-template #loadingTemplate>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
<ng-template #toDoListTemplate>
  <div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
              <span>Лист задач</span>
              <mat-button-toggle-group [value]="null" (change)="onStatusFilterChange($event)">
                <mat-button-toggle [value]="null">All</mat-button-toggle>
                <mat-button-toggle [value]="toDoListItemEnum.InProgress">In progress</mat-button-toggle>
                <mat-button-toggle [value]="toDoListItemEnum.Completed">Completed</mat-button-toggle>
            </mat-button-toggle-group>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-selection-list [multiple]="false" hideSingleSelectionIndicator>
              <app-to-do-list-item *ngFor="let item of ToDo" [item]="item" [routerLink]="[item.id]"
              (emitDelete)="deleteItem($event)"
              (emitChangeText)="editToDoListItemTitleById(item.id, $event)"
              (emitChangeStatus)="editToDoListItemStatusById(item.id, $event)"></app-to-do-list-item>
            </mat-selection-list>
          </mat-card-content>
          <mat-card-content>
            <div>
              <ng-container *ngIf="getItemIdFromRoute !== null; then descriptionTemplate; else hintTemplate" />
              <ng-template #descriptionTemplate>
                  <router-outlet></router-outlet>
              </ng-template>
              <ng-template #hintTemplate>
                  <p>Выберите задачу...</p>
              </ng-template>
            </div>
          </mat-card-content>
          <mat-card-content>
            <app-to-do-list-create (emitNewItem)="addToDoListItem($event)"></app-to-do-list-create>
          </mat-card-content>
    </mat-card>
</div>
</ng-template>
