<ng-container *ngIf="isLoading === true; then loadingContainer; else toDoListContainer" />
<ng-template #loadingContainer>
  <div class="spinner-container">
      <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-template>
<ng-template #toDoListContainer>
  <div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Лист задач</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-to-do-list-item [items]="ToDo" (delete)="deleteItem($event)"></app-to-do-list-item>
          </mat-card-content>
          <mat-card-content>
            <form class="action-form">
                <mat-form-field  class="input-full-width">
                  <mat-label>Добавить задачу</mat-label>
                  <input matInput type="text" [(ngModel)]="newToDo" [ngModelOptions]="{standalone: true}">
                  <save-button mat-flat-button title="Добавить" matSuffix (click)="addItem()"></save-button>
                </mat-form-field>
              </form>
          </mat-card-content>
    </mat-card>
</div>
</ng-template>
