<ng-container *ngIf="isLoading === true; then loadingTemplate; else toDoListTemplate" />
<ng-template #loadingTemplate>
  <div class="spinner-container">
      <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-template>
<ng-template #toDoListTemplate>
  <div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Лист задач</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-to-do-list-item [items]="ToDo" (delete)="deleteItem($event)" (setDesc)="setSelectedIdToDo($event)"></app-to-do-list-item>
          </mat-card-content>
          <mat-card-content>
            <div>
              <h3>Описание</h3>
              <ng-container *ngIf="selectedItemToDo !== null; then descriptionTemplate; else hintTemplate" />
              <ng-template #descriptionTemplate>
                  <p>{{getSelectedToDoDescription()}}</p>
              </ng-template>
              <ng-template #hintTemplate>
                  <p>Выберите задачу...</p>
              </ng-template>
            </div>
          </mat-card-content>
          <mat-card-content>
            <form class="action-form">
                <mat-form-field class="input-full-width">
                  <mat-label>Добавить задачу</mat-label>
                  <input matInput type="text" [(ngModel)]="newToDoName" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field  class="input-full-width">
                  <mat-label>Добавить описание</mat-label>
                  <textarea matInput type="text" [(ngModel)]="newToDoDesc" [ngModelOptions]="{standalone: true}"></textarea>
                </mat-form-field>
                <save-button class="fill-button" mat-flat-button title="Добавить" matSuffix (click)="addItem()" [appTooltip]="'Добавить новую задачу'"></save-button>
              </form>
          </mat-card-content>
    </mat-card>
</div>
</ng-template>
